[workspace]

members = [
    "gst-plugin",
    "gst-plugin-simple",
    "gst-plugin-file",
    "gst-plugin-http",
    "gst-plugin-flv",
    "gst-plugin-audiofx",
    "gst-plugin-togglerecord",
]

[profile.release]
lto = true
opt-level = 3
debug = true
panic = 'unwind'
