[package]
name = "gst-plugin-dav1d"
version.workspace = true
authors = ["Philippe Normand <philn@igalia.com>"]
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license = "MIT OR Apache-2.0"
description = "GStreamer dav1d AV1 decoder Plugin"

[dependencies]
dav1d = "0.11.0"
gst = { workspace = true, features = ["v1_18"] }
gst-base = { workspace = true, features = ["v1_18"] }
gst-video = { workspace = true, features = ["v1_18"] }
num_cpus = "1.0"

[lib]
name = "gstdav1d"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[build-dependencies]
gst-plugin-version-helper.workspace = true

[features]
static = []
capi = []
doc = ["gst/v1_18"]

[package.metadata.capi]
min_version = "0.9.21"

[package.metadata.capi.header]
enabled = false

[package.metadata.capi.library]
install_subdir = "gstreamer-1.0"
versioning = false
import_library = false

[package.metadata.capi.pkg_config]
requires_private = "gstreamer-1.0, gstreamer-base-1.0, gstreamer-video-1.0, gobject-2.0, glib-2.0, gmodule-2.0, dav1d"

[package.metadata.gstreamer]
release_date = "2025-12-02"
