[package]
name = "gst-plugin-dav1d"
version = "0.7.2"
authors = ["Philippe Normand <philn@igalia.com>"]
edition = "2018"
repository = "https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs"
license = "MIT/Apache-2.0"
description = "Dav1d Plugin"

[dependencies]
dav1d = "0.6"
gst = { package = "gstreamer", version = "0.17" }
gst-base = { package = "gstreamer-base", version = "0.17" }
gst-video = { package = "gstreamer-video", version = "0.17", features = ["v1_12"] }
once_cell = "1.0"

[lib]
name = "gstrsdav1d"
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[build-dependencies]
gst-plugin-version-helper = { version = "0.7.0", path = "../../version-helper" }

[features]
# GStreamer 1.14 is required for static linking
static = ["gst/v1_14"]
capi = []

[package.metadata.capi]
min_version = "0.7.0"

[package.metadata.capi.header]
enabled = false

[package.metadata.capi.library]
install_subdir = "gstreamer-1.0"
versioning = false

[package.metadata.capi.pkg_config]
requires_private = "gstreamer-1.0, gstreamer-base-1.0, gstreamer-video-1.0, gobject-2.0, glib-2.0, gmodule-2.0, dav1d"
